@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.nav-info{
  background-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-image: url("https://img.freepik.com/free-vector/sea-background-video-conferencing_52683-46343.jpg?w=1800&t=st=1657814014~exp=1657814614~hmac=ebb6bc32f13b7d1c9a140f88b81801e3c914bbefd1e722201b9036af7bb233c3");
  background-size: cover;
  background-position: center;
}

.container {
  /* display:grid; */
  /* border: 5px dashed black; */
  grid-template-areas: "left right";
  margin: 80px auto;
  width: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 900px;
  background-color: rgb(215, 241, 254);
}

.login-container {
  grid-template-areas: "left right";
  margin: 150px auto;
  width: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 650px;
  background-color: rgb(215, 241, 254);
}

.login-container img {
  margin-top:15px;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;

}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form h1 {
  font-size:3rem;
  text-align: center;
  width: 100%;
  margin: 1.2rem 0;
  color: black;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

/* .form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
} */

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: black;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  border:black 1px solid;
}

.form-input::placeholder {
  color: #595959;
  font-size: 20px;
}

.form-input:focus{
  border:1px solid rgb(55, 115, 255);
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 40px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: black;
  font-size: 1.2rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 1.2rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.navbar-brand {
  margin-left:15px;
}

p.error{
  margin-bottom: -20px;
  color:rgb(236, 47, 47);
}

.form-input-btn a {
  text-decoration: none;
  color:black;
}