@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@media (min-width: 576px){
  .container{
    max-width: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
}

body {
  background-image: url("/public/assets/images/sea.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar background */
.bg-new{
  background:#ffffff;
}

.navbar-brand {
  margin-left:15px;
}

/* Sign up form div */
.container{
  margin: 100px auto;
  width: 790px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 50%;
  height: 790px;
  background:rgb(244, 249, 251)
}

@keyframes animate{
  from {
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg);
  }
} 

.container:before{
  content: '';
  position:absolute;
  top:-30px;
  right:-30px;
  bottom:-30px;
  left: -30px;
  border-radius:50%;  
  background: linear-gradient(
    90deg,
    rgb(255, 221, 135) 50%,
    rgb(233, 255, 144) 100%
  );
  animation: animate 1.5s linear infinite;
  z-index:-1
}

/* Leaderboard and Filtered Seach table */
table{
  table-layout: fixed;
  border-collapse:collapse;
  width:100%;
}

/* Leaderboard table row */
.leaderboard tr {
  text-align: center;
  font-size: 40px;
}

.leaderboard-h1{
  border-bottom: 1px solid black;
}

/* Leaderboard table */
.outer-div {
  margin-top:10%;
}

/* Leaderboard and WorkoutList div*/
.outer-div{
  display: flex;
  justify-content: center;
}

/* Leaderboard and WorkoutList div */
.list-container{
  width:75%;
  background-color:white;
  text-align:  center;
  border:2px solid black;
  border-radius: 20px;
}

/* Login form div */
.login-container {
  margin: 100px auto;
  width:790px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 50%;
  height: 790px;
  background-color: rgb(244, 249, 251)
}

.login-container:before{
  content: '';
  position:absolute;
  top:-30px;
  right:-30px;
  bottom:-30px;
  left: -30px;
  border-radius:50%;  
  background: linear-gradient(
    90deg,
    rgb(255, 221, 135) 50%,
    rgb(233, 255, 144) 100%
  );
  animation: animate 1.5s linear infinite;
  z-index:-1
}

/* Login form pirate image */
.login-container img {
  margin-top:5rem;
}

/* Login and Sign up form div */
.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Login and Sign up form h1 tag */
.form h1 {
  font-size:3rem;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0 0 0;
  color: black;
}

/* Login and Sign up form input tag */
.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

/* Login and Sign up form label tag */
.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: black;
}

/* Login and Sign up form input tag */
.form-input {
  display: block;
  padding-left: 10px;
  outline:none;
  height: 40px;
  width: 100%;
  border:black 1px solid;
}

/* Login and Sign up form placeholder style*/
.form-input::placeholder {
  color: #595959;
  font-size: 20px;
}

/* Login and Sign up form focus effect*/
.form-input:focus{
  border:1px solid rgb(55, 115, 255);
}

/* Login and Sign up form button without hover effect */
.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 40px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236)100%
  );
  outline: none;
  border: none;
  color: black;
  font-size: 1.2rem;
}

/* Login and Sign up button hover effect */
.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

/* Login and Sign up form span tag */
.form-input-login {
  font-size: 1.2rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
}

/* Login and Sign up form a tag */
.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

/* Sign up form error message */
p.error{
  margin-bottom: -20px;
  color:rgb(236, 47, 47);
}

/* Login and Sign up form button a tag */
.form-input-btn a {
  text-decoration: none;
  color:black;
}

/* Profile page CSS: */
.profile-container{
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 790px;
  height: 45vh;
}

.main-body{
  align-items: center;
}

.profile{
  display: flex;
  justify-content: center;
  width:800px
}

/* Cursor for list of workout in Filtered Search */
.text-primary:hover{
  cursor: pointer;
}

.workoutslist-container{
  background-color: white;
  border: 2px solid black;
  width:90%;
  border-radius: 18px;
}

.workoutslist-outer-div{
  display: flex;
  justify-content: center;
}

/* h4 in workout list table for Filtered Search */
h4{
  text-align: center;
}

/* Filtered search css: */
.filter-form-outer-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-form-list-container{
  margin:50px auto;
  border: 2px solid black;
  height:300px;
  width:33%;
  background-color: white;
  border-radius: 18px;
}

.filter-form-container{
  margin: 10% 10%;
}

/* Filter form select tag */
.filter-form-container select {
  margin-bottom:10px;
}

#wheel{
  text-align: center;
}

.filter-form-wheel{
 display: flex;
 justify-content: center;
}

#canvas {
  padding-left:400px;
}

.main-page-wheel{
display: flex;
justify-content: center;
}

/* User profile button */
.link{
  text-decoration: none;
}

.profile-edit-container{
  display:flex;
  justify-content: center;
}

.edit-card{
margin-top:50%;
width:350px;
padding: 15%;
background-color: white;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);  border-radius: 1%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.edit-card h1 {
  padding-bottom: 20px;
}

.link, .btn-info{
  color:black;
}

.link:hover{
  color:rgb(28, 59, 218)
}

.btn-info:hover{
  color:rgb(28, 59, 218)
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
  #canvas {
    padding-left: 100px;
  }
}
@media (min-width: 992px) {
  #canvas {
    padding-left: 200px;
  }
}
@media (min-width:1200px) {
  #canvas {
    padding-left: 400px;
  }
}
